# Python
*pyc
.mypy_cache

## Django
staticfiles

## Pytest
.pytest_cache

# Frontend
assets/bundles
assets/dist
webpack-stats.dev.json
webpack-stats.prod.json

## Node
node_modules

# Dancing Together
.env
junit
