[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-bootstrap4" = "*"
"psycopg2-binary" = "*"
Django = "*"
channels = "*"
channels_redis = "*"
dj-database-url = "*"
django-webpack-loader = "*"
djangorestframework = "*"
drf-nested-routers = "*"
raven = "*"
requests = "*"
whitenoise = "*"

[requires]
python_version = "3.7"

[dev-packages]
mypy = "*"
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pylint_junit = "*"
pytest-asyncio = "*"
pytest-django = "*"
python-dateutil = "*"
yapf = "*"
