[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
requests = "*"
channels_redis = "*"
"django-bootstrap4" = "*"
django-heroku = "*"
channels = "*"
django-webpack-loader = "*"
djangorestframework = "*"
drf-nested-routers = "*"
raven = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.8"

[dev-packages]
pycodestyle = "*"
mypy = "*"
yapf = "*"
pylint = "*"
pytest-django = "*"
pytest-asyncio = "*"
python-dateutil = "*"
pylint-django = "*"
pre-commit = "*"
