{% extends "base.html" %}

{% block content %}

<div id="album-art-container">
</div>

<div id="playback-controls">
    <button type="button" aria-pressed="false" onclick="handlePreviousTrackButtonClick(event)" disabled="true">
        Previous Track
    </button>

    <button id="playPauseButton" type="button" aria-pressed="false" onclick="handlePlayPauseButtonClick(event)" disabled="true">
        Play
    </button>

    <button type="button" aria-pressed="false" onclick="handleNextTrackButtonClick(event)" disabled="true">
        Next Track
    </button>
</div>

<div id="chats">
</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
window.onSpotifyWebPlaybackSDKReady = () => {
    window.player = new Spotify.Player({
        name: 'Dancing Together',
        getOAuthToken: cb => { cb('{{ access_token }}'); }
    });

    // Error handling
    window.player.on('initialization_error', e => { console.error(e); });
    window.player.on('authentication_error', e => { console.error(e); });
    window.player.on('account_error', e => { console.error(e); });
    window.player.on('playback_error', e => { console.error(e); });

    // Playback status updates
    window.player.on('player_state_changed', state => {
        console.log('Player state changed', state);

        // Update Play/Pause button
        if (state.paused) {
            $('#playPauseButton').html("Play");
        } else {
            $('#playPauseButton').html("Pause");
        }

        // Update album art
        $('#album-art-container').empty();
        $('<img/>', {
            src: state.track_window.current_track.album.images[0].url,
            alt: state.track_window.current_track.album.name
        }).appendTo('#album-art-container');
    });

    // Ready
    window.player.on('ready', data => {
        let { device_id } = data;
        console.log('Ready with Device ID', device_id);

        // Show Playback UI
        $("#playback-controls :button").prop("disabled", false);

        // Set up connection to server
        setUpWebSocket();
    });

    // Connect to the player!
    window.player.connect();
}

function setUpWebSocket() {
    // Correctly decide between ws:// and wss://
    const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
    console.log("Connecting to " + ws_path);
    window.socket = new ReconnectingWebSocket(ws_path);

    window.socket.onopen = function() {
        console.log("Connected to room socket");
    }

    window.socket.onclose = function() {
        console.log("Disconnected from room socket");
    }

    window.socket.onmessage = function(message) {
        console.log("Got websocket message " + message.data);
        const data = JSON.parse(message.data);

        if (data.error) {
            console.log(data.error);
            return;
        }

        if (data.join) {
            console.log("Joining room " + data.join);
            var roomdiv = $(
                    "<div class='room' id='room-" + data.join + "'>" +
                    //"<h2>" + data.title + "</h2>" +
                    "<div class='messages'></div>" +
                    "<form><input><button>Send</button></form>" +
                    "</div>"
            );
            // Hook up send button to send a message
            roomdiv.find("form").on("submit", function () {
                socket.send(JSON.stringify({
                    "command": "send",
                    "room": data.join,
                    "message": roomdiv.find("input").val()
                }));
                roomdiv.find("input").val("");
                return false;
            });
            $("#chats").append(roomdiv);
        } else if (data.leave) {
            console.log("Leaving room " + data.leave);
        } else if (data.message || data.msg_type != 0) {
            console.log("received message: ", data.message, "from: ", data.username);

            const msgdiv = $("#room-" + data.room + " .messages");
            var ok_msg = "";
            if (data.msg_type === "message") {
                // Message
                ok_msg = "<div class='message'>" +
                         "<span class='username'>" + data.username + "</span>" +
                         "<span class='body'>" + data.message + "</span>" +
                         "</div>";
            } else if (data.msg_type === "enter") {
                // User joined room
                ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                         " joined the room!" +
                         "</div>";
            } else if (data.msg_type === "leave") {
                // User left room
                ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                         " left the room!" +
                         "</div>";
            } else {
                console.error("Unsupported message type!");
                return;
            }

            msgdiv.append(ok_msg);
            msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
        } else {
            console.error("Cannot handle message!");
        }
    }
}

function handlePreviousTrackButtonClick(event) {
    window.player.previousTrack().then(() => {
        console.log("Set to previous track");
    });
}

function handlePlayPauseButtonClick(event) {
    window.player.togglePlay().then(() => {
        console.log("Toggled playback");
    });
}

function handleNextTrackButtonClick(event) {
    window.player.nextTrack().then(() => {
        console.log("Set to next track");
    });
}

</script>

{% endblock %}{# content #}
