{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

Status: <span id="connection-status" class="bg-info">Not Connected</span><br>
<span id="connection-status-error" class="bg-danger"></span><br>

<div>
    <h1 id="station-name"></h1>
    <div id="album-art"></div>
    <span id="playback-track-title"></span><br>
    <span id="playback-track-artist"></span><br>
</div>

<div id="listener-controls">
    <button id="mute-button" class="btn" type="submit" aria-pressed="false">
        <i class="fas fa-volume-up"></i>
    </button>

    <input id="volume-slider" type="range" min="0" max="1" step="0.1" />
</div>

<div id="dj-controls">
    <button id="previous-track-button" class="btn" type="submit" aria-pressed="false" disabled="true">
        <i class="fas fa-step-backward"></i>
    </button>

    <button id="play-pause-button" class="btn" type="submit" aria-pressed="false" disabled="true">
        <i class="fas fa-play"></i>
    </button>

    <button id="next-track-button" class="btn" type="submit" aria-pressed="false" disabled="true">
        <i class="fas fa-step-forward"></i>
    </button>
</div>

<div id="admin-messages">
</div>

{% endblock %}{# content #}

{% block extra_script %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
<script src="{% static "js/station.js" %}"></script>
<script>
    'use strict';
    const user_is_dj = {{ is_dj|yesno:"true,false" }};
    const access_token = "{{ access_token }}";
    const station_id = {{ station_id }};
    this.app = new StationApp(user_is_dj, access_token, station_id);
</script>
{% endblock %}{# extra_script #}
