{% extends "base.html" %}

{% load raven %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block content %}
<div id="station"></div>
{% endblock %}{# content #}

{% block extra_script %}
<script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    'use strict';
    const APP_DATA = {
        userId: {{ user_id }},
        stationId: {{ station.id }},
        stationTitle: "{{ station.title }}",
        userIsDJ: {{ is_dj|yesno:"true,false" }},
        userIsAdmin: {{ is_admin|yesno:"true,false" }},
        spotifyConnectPlayerName: '{{ player_name }}',
        accessToken: "{{ access_token }}",
        debug: {{ debug|yesno:"true,false" }},
    };

    Raven.config('{% sentry_public_dsn %}').install();
</script>

{% render_bundle 'main' %}

{% endblock %}{# extra_script #}
