{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}
<div id="station"></div>
{% endblock %}{# content #}

{% block extra_script %}
<script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin=anonymous></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="{% static 'channels/js/websocketbridge.js' %}"></script>
<script>
    'use strict';
    const APP_DATA = {
        userId: {{ user_id }},
        stationId: {{ station.id }},
        stationTitle: "{{ station.title }}",
        userIsDJ: {{ is_dj|yesno:"true,false" }},
        userIsAdmin: {{ is_admin|yesno:"true,false" }},
        spotifyConnectPlayerName: '{{ player_name }}',
        accessToken: "{{ access_token }}",
        debug: {{ debug|yesno:"true,false" }},
    };

    Raven.config('https://b380711cbf644219808e14271070a170@sentry.io/1252042', {
        release: '0-0-0',
        environment: 'development-test',
    }).install();
</script>

{% render_bundle 'main' %}

{% endblock %}{# extra_script #}
