{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}

<div id="login-form">
  <h1>Create an account</h1>

  {% if next %}
    {% if user.is_authenticated %}
      <p>You do not have access to this page.</p>
    {% else %}
      <p>Please login or sign up to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'join' %}" class="form-signup">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
      <button type="submit" value="login" class="btn btn-lg btn-primary btn-block">Create account</button>
      <input type="hidden" name="next" value="{{ next }}" /?>
    {% endbuttons %}
  </form>
</div>

{% endblock %}{# content #}
