{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}

<div id="login-form">
  <h1>Please sign in</h1>

  {% if next %}
    {% if user.is_authenticated %}
      <p>You do not have access to this page.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="form-signin">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
      <button type="submit" value="login" class="btn btn-lg btn-primary btn-block">Sign in</button>
      <input type="hidden" name="next" value="{{ next }}" /?>
    {% endbuttons %}
  </form>

  <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>

{% endblock %}{# content #}
