{% extends "base.html" %}

{% block content %}

<p>
    Join Dancing Together using your Spotify Premium account and tune into a
    music station for real-time, curated music by user DJ's like you. Let your
    souls dance together no matter the distance!
</p>

<p>
    Dancing Together was created in 2018 by
    <a href="https://www.bob-gardner.com/">Bob Gardner</a> and Nicole Ansbacher
    to listen to music together while being in a long distance relationship.
    This project was also inspired by working in an office environment where
    we wanted to listen to music together without disrupting others.
</p>

<p><a href="https://github.com/rgardner/dancingtogether">Dancing Together is open source</a></p>
<p><a href="https://github.com/rgardner/dancingtogether/issues">Problems or suggestions?</a></p>

<p>
    <ul>
    </ul>
</p>

{% endblock %}{# content #}
