{% extends "base.html" %}

{% block content %}

<h3>DANCING BRINGS US TOGETHER</h3>

<p class="lead text-muted">
    Join Dancing Together using your Spotify Premium account and tune into a
    music station for real-time, curated music by user DJ's like you. Let your
    souls dance together no matter the distance!
</p>

<p><a href="{% url 'join' %}">Join Dancing Together!</a></p>

<p><a href="https://www.spotify.com/us/premium/">Sign up for Spotify Premium.</a></p>

{% endblock %}{# content #}
